/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
	*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
	/* margin讓文字與所有東西靠左不留白 */
body {
	margin:0;
	font-family:'Montserrat',sans-serif;
}
/* 設定所有p跟blockquote行距 */
p,blockquote {
	font-size:.9em;
	line-height:1.6em;
}
/* 讓所有ul的點點不見·並整齊border內padding外margin撐到最大 */
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
/* 所有附帶此屬性的div都置中對齊並內縮 */
.container {
	text-align:center;
	padding:.8em 1.2em;
}
/* 控制section部位 */
.container section {
	height:100%;
	position:relative;
}
/* 控制下載按鈕與上方間距，字級 */
.container section a {
	position:relative;
	top:1em;
	font-size:180%;
}
/* 針對logo調大小 */
.logo {
	width:100px;
}
/* 隱藏按鈕 */
.hide-mobile {
	display:none;
}
/* 標投列，作用意義待研究 */
header {
	display:flex;
	justify-content:space-between;
}
/* 手機版的選單，選單按鈕大小 */
.menu {
	width:40px;
	margin-top:20%;
}
/* 設置主頁中間圖像的大小與內縮距離 */
.app {
	width:70%;
	margin:4em auto 2em;
}
/* 設置主副標的大小與間距，並z懸浮在圖片之上，position用絕對位置，置中用left與transform來定位、top調整位移，其實可以用::Before、::After來用也可以 */
.sticky {
	position:absolute;
	z-index:3;
	top:54%;
	left:50%;
	transform:translateX(-50%);
	color:#606060;
	width:100%;
}
/* 調整副標字體大小 */
.subhead {
	font-size:1em;
}
/* 控制藍色區塊與內縮，寬度自由填滿故設定100%，最下方clip-path製作造型，webkit為手機端正常顯示使用 */
.blue-container {
	width:100%;
	background:#1592E6;
	color:#f8f8f8;
	/* margin:15% 0 0;*/
    padding:5em 0 0em;
	-webkit-clip-path:polygon(0 0,50% 5%,100% 0,100% 100%,0 100%);
	clip-path:polygon(0 0,50% 5%,100% 0,100% 100%,0 100%);
}
/* 控制ul下的li區塊底部間距 */
.blue-container ul li {
	margin-bottom:4em;
}
/* 控制下轄的h3字體大小 */
.blue-container ul li h3 {
	font-size:20px;
}
/* 控制p的對齊與大小，以及左右兩邊的間距，文字部分至中靠左，display為了置中換行而使用中間、塊狀模組的方式顯示 */
.blue-container ul li p {
	padding:0 1em;
	font-size:15px;
	text-align:left;
	display:inline-block;
}
/* 控制下轄照片、圖片的大小比例 */
.blue-container img {
	width:18%;
}
/* 控制子物件第三個的特定參數，li底部間距 */
.blue-container ul li:nth-child(3) {
	margin-bottom:2em;
}
/* 灰色區域控制 */
.gray-container {
	width:100%;
	background:#DBDBDB;
	padding:2em 0;
}
/* 控制灰色區第一區塊（第一子li物件）下方間距 */
.gray-container ul li:nth-child(1) {
	margin-bottom:4em;
}
/* 控制兩份圖文使用體驗框內外撐到最大 */
figure {
	margin:0;
	padding:0;
}
/* 控制灰區兩張照片的大小與下方文字的間距 */
.gray-container img {
	width:130px;
	margin-bottom:2em;
}
/* 控制內文對齊與左右的間距 */
.gray-container blockquote {
	text-align:left;
	margin:0em 1em 1em;
}
/* 控制姓名顏色、字體大小、對其、內縮 */
figcaption {
	font-weight:bold;
	font-size:20px;
	text-align:left;
	color:#1592E6;
	padding:0em .8em;
}
/* 白區參數因為有兩個區域要另設方便控制 */
.white-container {
	text-align:center;
	margin:0 0 4em 0;
	padding:.8em 1.2em;
}
/* 控制白區字體大小 */
h2 {
	margin-top:15%;
	margin-bottom:10%;
	font-size:30px;
	color:#606060;
}
/* 控制所有按鈕部分，圓角 */
.cta {
	background:#1DDBBD;
	/* width:calc(100% - 1em);*/
    width:200px;
	display:block;
	color:white;
	border-radius:40px;
	padding:.5em;
	text-decoration:none;
	font-size:1.8em;
	margin:3% auto 6%;
}
/* 控制Footer顏色、字色、內縮、外型，webkit為手機顯示正常用 */
.footer-container {
	width:100%;
	background:#606060;
	color:#DBDBDB;
	padding:1em 0 2em;
	-webkit-clip-path:polygon(0 10%,50% 0%,100% 10%,100% 100%,0 100%);
	clip-path:polygon(0 10%,50% 0%,100% 10%,100% 100%,0 100%);
}
/* 控制footer回到上方按鍵的位置 */
.gotop {
	position:relative;
	bottom:1em;
	margin-bottom:1em;
}
/* 控制footer區ul框外間距 */
ul.footer-links {
	margin:0 auto 3em;
}
/* 控制footer區li排列方式 */
ul.footer-links li {
	/* display:inline;*/
    margin:1em;
}
/* 控制footer區外部連結的字色、大小 */
ul.footer-links li a {
	color:#DBDBDB;
	font-size:1.2em;
	text-decoration:none;
}
/* 控制手機收納式選單nav的懸浮位置、寬度、位置、對其、長度、圖層、上方內縮 */
nav ul {
	position:fixed;
	width:60%;
	top:0;
	right:0;
	text-align:left;
	background:rgb(36,41,44);
	height:100%;
	z-index:7;
	padding-top:1em;
}
/* 選單內文字的顏色隱藏底線、間距 */
nav ul li a {
	color:white;
	text-decoration:none;
	display:block;
	width:100%;
	padding:1em 2em;
	background-color:rgb(46,53,56);
}
/* 控制滑鼠移動後於選單內的亮點顯示 */
nav ul li a:hover {
	background-color:rgb(68,128,151);
}
/* 控制打叉開關 */
.exit-btn {
	margin-bottom:1em;
	margin-top:em;
	text-align:right;
	padding:0 1.3em;
}
/* 控制打叉大小 */
.exit-btn img {
	width:33px;
}
/* 製作小於350寬度的裝置用RWD */
@media only screen and (max-width:350px) {
	h1 {
	font-size:20px;
}
}
/* 製作大於650寬度裝置的RWD */
@media only screen and (min-width:650px) {
	.container {
	width:95%;
	margin:0 auto;
    }
    .app {
        width:40%;
        margin:4em 0 0em;
    }
    .sticky {
        top:60%;
    }
    h1 {
        font-size:1.5em;
        margin:0;
    }
    .subhead {
        font-size:1.2em;
        margin-bottom:1%;
    }
    .blue-container {
        margin:0;
        -webkit-clip-path:polygon(0 0,50% 10%,100% 0,100% 100%,0 100%);
        clip-path:polygon(0 0,50% 10%,100% 0,100% 100%,0 100%);
    }
    .blue-container img {
        width:40%;
    }
    /* 微調藍區第一張圖片大小 */
    .blue-container ul li:nth-child(1) img {
        width:38%;
        padding-top:1em;
    }
    /* 縮減中間三圖區域左右的間距 */
    .blue-container ul {
        display:flex;
        padding:0em 0em;
    }
    /* 固定每個區塊寬度達到均分，必須是％數不能是具體px */
    .blue-container ul li {
        padding:0em .5em;
        width:40%
    }
    /* 調整第三張圖的底部間距 */
    .blue-container ul li:nth-child(3) {
        margin-bottom:4em;
    }
    .gray-container {
        padding:2em 0;
    }
    .gray-container ul {
        display:flex;
        margin:auto;
        width:95%}
    .gray-container ul li {
        padding:0em 1em;
    }
    .gray-container ul li:nth-child(1) {
        margin:0;
    }
    .gray-container img {
        padding-bottom:1em;
        margin:0em 2em;
        width:40%;
    }
    .container section a {
        font-size:120%;
    }
    .cta {
        width:150px;
        font-size:1.2em;
    }
    h2 {
        margin-top:10%;
        margin-bottom:5%;
        font-size:30px;
    }
    ul.footer-links {
        display:inline-flex;
    }
}
/* 大於900的裝置用RWD */
@media only screen and (min-width:900px) {
	.container {
	width:90%;
	margin:0 auto;
    }
    .app {
        width:20%;
        margin:4em 0 6em;
    }
    .sticky {
        top:54%;
    }
    h1 {
        font-size:1.5em;
        margin:0;
        color:#606060;
    }
    .subhead {
        font-size:1.2em;
        margin-bottom:1%;
    }
    .blue-container {
        margin:0;
        -webkit-clip-path:polygon(0 0,50% 10%,100% 0,100% 100%,0 100%);
        clip-path:polygon(0 0,50% 10%,100% 0,100% 100%,0 100%);
    }
    .blue-container img {
        width:40%;
    }
    /* 微調藍區第一張圖片大小 */
    .blue-container ul li:nth-child(1) img {
        width:38%;
        padding-top:1em;
    }
    /* 縮減中間三圖區域左右的間距 */
    .blue-container ul {
        display:flex;
        padding:0em 2em;
    }
    /* 固定每個區塊寬度達到均分，必須是％數不能是具體px */
    .blue-container ul li {
        padding:0em 2em;
        width:40%}
    /* 調整第三張圖的底部間距 */
    .blue-container ul li:nth-child(3) {
        margin-bottom:4em;
    }
    .gray-container {
        padding:2em 0;
    }
    .gray-container ul {
        display:flex;
        margin:auto;
        width:90%}
    .gray-container ul li {
        padding:0em 2em;
    }
    .gray-container ul li:nth-child(1) {
        margin:0;
    }
    .gray-container img {
        padding-bottom:1em;
        margin:0em 2em;
        width:30%;
    }
    .container section a {
        font-size:120%;
    }
    .cta {
        width:150px;
        font-size:1.2em;
    }
    .cta:hover {
        color:#1592E6;
    }
    h2 {
        margin-top:10%;
        margin-bottom:5%;
        padding:0;
        font-size:25px;
    }
    .white-container {
        text-align:center;
        padding:.8em 1.2em;
        margin:auto;
    }
    .white-container div {
        display:inline-block;
        width:30%;
        margin:2% 6%;
    }
    .white-container div:nth-child(2) {
        margin:2% 2% 2% 10%;
    }
    ul.footer-links {
        float:right;
    }
    ul.footer-links li {
        float:left;
        margin:0em 1em;
    }
    ul.footer-links li:nth-child(4) {
        margin:0 0 0 1em;
    }
    ul.footer-links li a:hover {
        color:#1592E6;
    }
    .footer-logoSet {
        text-align:left;
    }
    .show-desktop {
        display:block;
        margin:0 auto 13% auto;
    }
    .hide-desktop {
        display:none;
    }
    .hide-mobile {
        display:block;
    }
    nav ul {
        position:inherit;
        width:auto;
        background:none;
        height:auto;
        display:flex;
        padding-top:0;
        padding-right:0em;
    }
    nav ul li {
        float:left;
        margin:0;
        padding:0em 2em;
    }
    nav ul li:nth-child(5) {
        padding:0em 0em 0em 2em;
    }
    nav ul li a {
        color:#606060;
        background-color:inherit;
        text-align:center;
        margin:0;
        padding:1em 0em;
    }
    nav ul li a:hover {
        background:inherit;
        color:#1592E6;
    }
    /* CSS動畫部分 */
    .scroll {
        width:1.8%;
        animation:move .5s infinite alternate;
        /* Safari used */
        /* -webkit-animation:;*/
    }
    /* 位移範圍 */
    @keyframes move {
        0% {transform:translateY(0px);}
        100% {transform:translateY(30px);}
    }
}
/* 超過1330的RWD參數 */
@media only screen and (min-width:1330px) {
	.container {
	width:90%;
	margin:0 auto;
    }
    .logo {
        width:180px;
    }
    .app {
        width:20%;
        margin:8em 0;
    }
    .sticky {
        top:54%;
    }
    h1 {
        font-size:2em;
        margin:0;
    }
    .subhead {
        font-size:1.4em;
        margin-bottom:1%;
    }
    .blue-container {
        margin:0;
        -webkit-clip-path:polygon(0 0,50% 10%,100% 0,100% 100%,0 100%);
        clip-path:polygon(0 0,50% 10%,100% 0,100% 100%,0 100%);
    }
    .blue-container img {
        width:30%;
    }
    /* 微調藍區第一張圖片大小 */
    .blue-container ul li:nth-child(1) img {
        width:35%;
    }
    /* 縮減中間三圖區域左右的間距 */
    .blue-container ul {
        display:flex;
        padding:0em 10em;
    }
    /* 固定每個區塊寬度達到均分，必須是％數不能是具體px */
    .blue-container ul li {
        padding:0em 2em;
        width:40%}
    /* 調整第三張圖的底部間距 */
    .blue-container ul li:nth-child(3) {
        margin-bottom:4em;
    }
    .gray-container {
        padding:4em 0;
    }
    .gray-container ul {
        display:flex;
        margin:auto;
        width:90%}
    .gray-container ul li {
        padding:0em 2em;
    }
    .gray-container ul li:nth-child(1) {
        margin:0;
    }
    .gray-container img {
        float:left;
        margin:0em 2em;
        width:20%;
    }
    .container section a {
        font-size:120%;
    }
    h2 {
        font-size:30px;
    }
    .cta {
        width:150px;
        font-size:1.2em;
    }
    nav ul li {
        font-size:25px;
    }
}
/* 超過2000的RWD參數 */
@media only screen and (min-width:2000px) {
	.blue-container img {
	width:100px;
}
/* 微調藍區第一張圖片大小 */
    .blue-container ul li:nth-child(1) img {
	width:100px;
    }
    .gray-container img {
        width:130px;
    }
}
